
<div class="main">
	<h1><%= @portfolio.name %>'s Holdings</h1>
	<h2><%= @company %></h2>
	

		<div class="stock">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<th>Ticker</th>
				<th>Company</th>
				<th>Price</th>
			</thead>

		<tbody>
			<% @portfolio.stocks.each do |stock| %>
			<tr>
				<td><%= stock.ticker.upcase %></td>
				<td><%= stock.company %></td>
				<td><%= stock_quote(stock.ticker) %></td>
			</tr>
			<% end %>
		</tbody>
		
		</table>

</div>
