<div class="main">

	

		<div class="stock">
			<table class="table">
				<thead>
					<th>Ticker</th>
					<th>Company</th>
					<th>Price</th>
				</thead>

			<% @stocks.each do |stock| %>
				<tbody class="table-striped">
					<td><%= link_to stock.ticker.upcase, stock %></td>
					<td><%= stock_name(stock.ticker) %></td>
					<td><%= stock_price(stock.ticker)%></td>
					<td><%= button_to "X", p, {method: :delete} %></td>
				<tbody>
			<% end %>
			</table>
			<%= link_to "Back to Portfolios", portfolios_path %>
			<%= link_to "Add Stocks", action: 'new' %>
		</div>

</div>
