<div class="main">

	<h1><%= current_user ? current_user.username.capitalize : "(not logged in)" %>'s Portfolio</h1>

		<div class="portfolio">
		<table>
			<thead>
				<th>Ticker</th>
				<th>Company</th>
				<th>Price</th>
			</thead>

		<% @stocks.each do |stock| %>
			<tbody>
				<td><%= stock.ticker %></td>
				<td><%=Ystock::Yahoo.quote("appl")[:price]%></td>
				<td><%= stock.company %></td>
				
				<td><%= button_to "X", p, {method: :delete} %></td>
			<tbody>
		</div>

		<% end %>
		
		</table>

	<%= button_to "Log out", auths_path, method: :delete %><br>
	<%= link_to "Add Stock to Portfolio", action: 'new' %>

</div>
