
<div class="main">
	<h1><%= @stock.company %></h1>
	<h2></h2>

<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<thead>
			<th>Ticker</th>
			<th>Company</th>
			<th>Price</th>
			<th>Change</th>
			<th>Percent Change</th>
			<th>P/E</th>
			<th>Dividend</th>
		</thead>
	</tr>

	<tbody>
		<tr>
			<td><%= @stock.ticker.upcase %></td>
			<td><%= @name %></td>
			<td><%= @price %></td>
			<td><%= @change %></td>
			<td><%= @percent_change %></td>
			<td><%= @pe %></td>
			<td><%= @dividend %></td>
		</tr>
	</tbody>



</div>
