<!DOCTYPE html>
<html>
<head>
  <title>Money2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>


		<p class="notice"><%= flash[:notice] %></p>
		<p class="error"><%= flash[:error] %></p>
		
		<% if current_user %>
			<%= render 'layouts/logoff' %>
		<% else %>
			<%= render 'layouts/login' %>

		<% end %>
	</header>

	<%= yield %>
	
</body>
</html>
